VITE_SUPABASE_URL=https://zbeuzfltablkkjcqcwup.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpiZXV6Zmx0YWJsa2tqY3Fjd3VwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzAyNTg5MSwiZXhwIjoyMTAyNjAxODkxfQ.BzoTvedkoogNZygzLkNQkNprf5MSrHSqR_pd_3232bY
VITE_GEMINI_API_KEY=YOUR_GEMINI_API_KEY
